/* Styles for the card section */
.card {
    margin: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
} 
.card-img {
    height: 270px;
    width: 270px;
    object-fit: cover;
    border-radius: 0.5rem;
}
.card-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card-rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}